---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.tsx"
import Card from "../components/Card.tsx"
---

<Layout>
<!-- <div class="absolute w-[2245px] h-[191px] top-50 left-[50%] rotate-[-132.37deg] bg-[#1240c5]/40 rounded-full blur-[274.95px]"/> -->
	<!-- <div class="absolute w-[2245px] h-[191px] top-0 left-0 rotate-[-132.37deg] bg-[#1240c5]/40 rounded-full blur-[274.95px]"/> -->
	<button class="my-8 py-1 px-8 rounded-full link border border-[#97BAFF]/40">
		<span class="bg-text-gradient bg-clip-text text-transparent text-sm ">Nos offres</span>
	</button>
	<h1 class="text-center text-white text-5xl font-bold">Des prix en accord avec<br/>
		<span class="text-transparent bg-clip-text bg-gradient-to-r from-[#88B3FD] to-[#043BCB]">notre vision</span>
	</h1>
	<div class="my-10 flex gap-5">
		<Button variant="btn" label="Paiement Mensuel" />
		<Button variant="btn-ghost" label="Paiement Annuel (-20%)" />
	</div>
	<div class="flex items-center justify-between w-full gap-6">
		<Card   icon='./bullseye-arrow.svg'
		title='Essentiel'
		price={179}
		list={["+2500 vues/mois", "+60 clics sur votre site", "+15 appels/mois", "+15 demandes d'itinéraires", "Plus de visibilité sur Google"]} 
		text="Réponse aux avis google inclus"/>

		<Card   icon='./gem.svg'
		title='Ultime'
		badge='Best offer'
		price={439}
		list={["+6500 vues/mois", "+200 clics sur votre site", "+40 appels/mois", "+40 demandes d'itinéraires", "Plus de visibilité sur Google", "Réponse aux avis google inclus", "1 shooting", "QR code personnalisé"]}
		/>

		<Card   icon='./bullseye-arrow.svg'
		title='Prenium'
		price={319}
		list={["+11 000 vues/mois", "+500 clics sur votre site", "+80 appels/mois", "+80 demandes d'itinéraires", "Plus de visibilité sur Google","Réponse aux avis google inclus", "1 shooting"]}
		/>
	</div>
</Layout>