---
import '@fontsource/space-grotesk';
import { Spotlight } from '../components/Spotlight';
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pricing plan</title>
	</head>
	<body class="relative h-full bg-[#030b25]">
		<main class="min-h-screen mx-auto flex flex-col items-center">
			<div class="absolute size-full antialiased overflow-hidden -z-50">
				<Spotlight className="absolute top-0 left-[50%] animate-spotlight pointer-events-none h-[169%] w-[138%] opacity-0"/>
				<Spotlight className="absolute hidden lg:block top-14 left-[-10%] animate-spotlight pointer-events-none h-[169%] w-[138%] opacity-0"/>
			</div>
			<slot />
		</main>
	</body>
</html>