---
import '@fontsource/space-grotesk';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pricing plan</title>
	</head>
	<body class="min-h-screen flex flex-col bg-[#030b25] antialiased">
		<main class="relative max-w-6xl mx-auto flex flex-col items-center justify-center">
			<div class="absolute w-full h-52 top-[200px] left-[-800px] rotate-[-130deg] bg-[#1240c5]/60 rounded-full blur-[150px]"/>
			<div class="absolute w-full h-52 top-0 left-[-100px] rotate-[-130deg] bg-[#1240c5]/60 rounded-full blur-[150px]"/>
			<slot />
		</main>
	</body>
</html>